@import url('https://fonts.googleapis.com/css2?family=Bungee+Spice&family=Lora:ital,wght@0,400;0,500;1,400;1,600&display=swap');

* {
    font-family: 'Lora', apple;
}

body {
    margin: 0;
    background-color: #F5F5F5;
}

.nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #FE88A0;
    min-height: 10vh;
    font-size: 20px;
}

.nav-links {
    width: 30%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    list-style: none;
    cursor: pointer;
    /* font-size: 25px; */
}

.container {
    height: 500px;
    width: 100%;
    background-color: #FE88A0;
    /* position: relative; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.container h1 {
    font-size: 50px;
}

.container button {
    margin-top: 15px;
    height: 50px;
    width: 150px;
    font-size: 25px;
    border-radius: 5px;
    cursor: pointer;
    background-color: rgb(108, 108, 236);
    font-weight: 100;
    color: white;
    border: none;
}

.custom-shape-divider-top-1668461604 {
    position: absolute;
    top: 581px;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg);
}

.custom-shape-divider-top-1668461604 svg {
    position: relative;
    display: block;
    width: calc(114% + 1.3px);
    height: 104px;
}

.custom-shape-divider-top-1668461604 .shape-fill {
    fill: #FE88A0;
}

/* .timer {
    height: 700px;
    width: 100%;
    background-color: #333333;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
} */

h2 {
    font-size: 45px;
    font-weight: 500;
    /* padding-bottom: -20px; */
}

.content {
    /* margin-top: 50px; */
    height: 1300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.countdown {
    margin-top: -30px;
    display: flex;
    justify-content: space-around;
    text-align: center;
}

.day,
.hour,
.minute,
.second {
    font-size: 30px;
}

.content img {
    height: 600px;
    width: 600px;
}

#heart1 {
    height: 100px;
    width: 100px;
    position: absolute;
    left: 10%;
    top: 20%;
    ms-transform: rotate(320deg); 
    transform: rotate(320deg);
}

#heart2 {
    height: 100px;
    width: 100px;
    position: absolute;
    right: 10%;
    top: 20%;
    ms-transform: rotate(20deg); 
    transform: rotate(20deg);      
}