@import url('https://fonts.googleapis.com/css2?family=Bungee+Spice&family=Lora:ital,wght@0,400;0,500;1,400;1,600&display=swap');

* {
    font-family: 'Lora', apple;
}

body {
    margin: 0;
    background-color: #F5F5F5;
}

.nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #FE88A0;
    min-height: 10vh;
    font-size: 20px;
}

.nav-links {
    width: 30%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    list-style: none;
    /* color: black; */
    text-decoration: none;
    cursor: pointer;
    /* font-size: 25px; */
}

.container {
    height: 500px;
    width: 100%;
    background-color: #FE88A0;
    /* position: relative; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.container h1 {
    font-size: 50px;
}

.container button {
    margin-top: 15px;
    height: 50px;
    width: 150px;
    font-size: 25px;
    border-radius: 5px;
    cursor: pointer;
    /* background-color: rgb(108, 108, 236); */
    background-color: #A1C2D1;
    font-weight: 100;
    border: none;
}

.custom-shape-divider-top-1668461604 {
    position: absolute;
    top: 581px;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg);
}

.custom-shape-divider-top-1668461604 svg {
    position: relative;
    display: block;
    width: calc(114% + 1.3px);
    height: 104px;
}

.custom-shape-divider-top-1668461604 .shape-fill {
    fill: #FE88A0;
}

/* .timer {
    height: 700px;
    width: 100%;
    background-color: #333333;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
} */

h2 {
    font-size: 45px;
    font-weight: 500;
    /* padding-bottom: -20px; */
}

.content {
    /* margin-top: 50px; */
    height: 1300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.countdown {
    margin-top: -30px;
    display: flex;
    justify-content: space-around;
    text-align: center;
}

.day,
.hour,
.minute,
.second {
    font-size: 30px;
}

.content img {
    height: 600px;
    width: 600px;
}

#heart1 {
    height: 100px;
    width: 100px;
    position: absolute;
    left: 10%;
    top: 20%;
    ms-transform: rotate(320deg); 
    transform: rotate(320deg);
}

#heart2 {
    height: 100px;
    width: 100px;
    position: absolute;
    right: 10%;
    top: 20%;
    ms-transform: rotate(20deg); 
    transform: rotate(20deg);      
}

.modal {
    /* display: none; */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  }
  
  /* Modal Content/Box */
  .modal-content {
    background-color: #fefefe;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 5px solid #FE88A0;
    width: 60%;
    animation-name: animatetop;
    animation-duration: 0.4s;
    border-radius: 10px;
    background-color: #A1C2D1;
    /* background-color: #ebc0c7; */
  }


  .modal-content img {
    height: 250px;
    width: 300px;
    display: block;
    margin: auto;
 }

  .modal-header {
    text-align: center;
    font-size: 22px;
  }
  
  /* The Close Button */
  .close {
    color: rgb(0, 0, 0);
    float: right;
    font-size: 30px;
    font-weight: bold;
  }

  .modal-content p {
    font-size: 20px;
  }
  
  .close:hover,
  .close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
  }

  @keyframes animatetop {
    from {top: -300px; opacity: 0}
    to {top: 0; opacity: 1}
  }

.gallery {
    height: 100vh;
    width: 100%;
}

.picture > img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: inherit;
    opacity: 0;
    transition: opacity 800ms ease, 
        transform 800ms ease;
}

.picture:hover {
    transform: scale(1.1);
}

.picture:hover > img {
    opacity: 1;
}

.picture {
    border-radius: 10px;
    position: absolute;
    text-align: center;
    font-size: 50px;
    transition: transform 800ms ease;
}

.picture:nth-child(1) {
    height: 10%;
    width: 20%;
    top: 15%;
    background-color: #FFFFA0;
}

.picture:nth-child(2) {
    height: 20%;
    width: 40%;
    right: 10%;
    top: 20%;
    background-color: #FFB6AC;
}

.picture:nth-child(3) {
    height: 15%;
    width: 30%;
    right: 5%;
    top: 50%;
    background-color: #7FC9CC;
}

.picture:nth-child(4) {
    height: 30%;
    width: 15%;
    right: 50%;
    top: 50%;
    background-color: #32CACE;
}

.picture:nth-child(5) {
    height: 30%;
    width: 25%;
    right: 70%;
    top: 80%;
    background-color: #EDCFE0;
}

.picture:nth-child(6) {
    height: 10%;
    width: 8%;
    right: 60%;
    top: 20%;
    background-color: #CDA0CA;
}

.picture:nth-child(7) {
    height: 15%;
    width: 13%;
    right: 10%;
    top: 80%;
    background-color: #FF7E87;
}

.picture:nth-child(8) {
    height: 25%;
    width: 20%;
    left: 5%;
    top: 30%;
    background-color: #FECFAF;
}

.picture:nth-child(9) {
    height: 15%;
    width: 12%;
    left: 1%;
    top: 60%;
    background-color: #C1DCDC;
}

.picture:nth-child(10) {
    height: 10%;
    width: 8%;
    right: 1%;
    top: 12%;
    background-color: #94A4C4;
}

.picture:nth-child(11) {
    height: 10%;
    width: 8%;
    right: 50%;
    top: 90%;
    background-color: #0098AD;
}

.picture:nth-child(12) {
    height: 20%;
    width: 18%;
    right: 25%;
    top: 90%;
    background-color: #455F4D;
}

.picture:nth-child(13) {
    height: 18%;
    width: 15%;
    right: 30%;
    top: 70%;
    background-color: #B3C5BA;
}

.picture:nth-child(14) {
    height: 8%;
    width: 5%;
    right: 50%;
    top: 11%;
    background-color: #508C84;
}

.picture:nth-child(15) {
    height: 12%;
    width: 10%;
    left: 20%;
    top: 66%;
    background-color: #E4B264;
}





